*
{
  padding: 0;
  margin: 0;
}

.header{
  height:100%;
  background-image: url(images/IGDTUW.jpg);
  
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding-top: 20px;
  text-align:center;
}

.header-highlights{
  background:rgba(23, 23, 23, 0.6);
  text-align: center;
  color: #fff;
}

.header .igdtuw-logo{
  width: 90px;
  float: left;
  border-radius: 55px;
}

.header .csd-logo{
  width: 90px;
  float: right;
  border-radius: 55px;
}

.header h1{
  font-size: 45px;
  color: white;
}

.header h4{
  color: white;
}

.header h2{
  color: white;
  font-size: 40px;
}

.header p{
  margin: 18px 0;

}

.sustain{
  padding: 0px 75px;
  font-size: 20px;
}


.sustain-link{
  display: flex;
  justify-content: right;
  color:#6de4ff;
  font-size: 18px;
} 

.features{
  padding: 100px 0;
  background-color: #e6e6ff;
}

h1{
  text-align: center;
  padding-bottom: 30px;
}

.feature-img img{
  width: 100%;
}

.team-logo img{

  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: relative;
  margin: -40px 0 20px 40;
  
}
.feature-img{
  position: relative;
}
.rating{
  padding: 3px;
  float: right;
  background: #fff;
  bottom: -1px;
  right: 0;
  position:absolute;
}
.features .fa{
  font-size: 15px;
  color: #ff5722;
}
.feature-details{
  padding: 20px;
  text-align: justify;
}
.feature-details h4{
  font-weight: 600;
  margin-top: 0px;
}
.feature-details .fa{
  margin-right: 5px;
}
.feature-box{
  box-shadow: 0 0 10px 1px rgba(37,73,214,0.10);
  margin-bottom: 30px;
}
.gallery{
  padding: 100px 0;
  background: #FAD9E6;
}
.gallery-box img {
  width: 100%;
  border-radius: 10px;
  cursor:pointer;
  transition: 0.5s;
}
.gallery-box img:hover {
  transform: scale(1.1);
}
.gallery-box h4{
  display: block;
  color: #fff;
  text-shadow: -2px 2px 2px #000;
  font-weight: 600;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.gallery-box{
  position: relative;
  margin-bottom: 30px;
}
.banner{
  height: 80%;
  background-image: url(images/SDGs.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.banner-highlights{
  padding: 70px 0;
  background:rgba(0,0,0,0.7);
  text-align: center;
  color: #fff;
}
.booking-btn{
  width: 120px;
  padding: 8px 0;
  outline: none !important;
  border: 2px solid #fff;
  background: transparent;
  border-radius: 50px;
  color: #fff;
  margin-top: 20px;
}
.booking-btn a{
  text-decoration:none;
  color: #fff;
}

.core-faculty{
  padding: 100px 0;
  background-color: #ffe6e6;
}
.faculty-mem{
  text-align: center;
  box-shadow: 0 0 10px 0 rgba(0,0,100,0.2);
  padding-bottom: 50px;
}
.faculty-mem p{
  padding: 50px 10px 10px 10px;
}
.core-faculty img{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: relative;
  margin: -40px 0 20px 40;
}
.faculty-mem p::before{
  content:'\201d';
  display: block;
  position: absolute;
  font-size: 100px;
  color: #6495ed;
  font-family: sans-serif;
  left: 44%;
  top: -20px;
}
.footer{
  padding: 100px 20px 15px;
  background-image: linear-gradient(#2d557d,#9610fb);
  color: #fff;
}
.footer-logo{
  width: 150px;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 50%;
}
.footer-h4{
  text-align: left;
  margin-top: 15px;
  margin-bottom: 25px;
}
.footer-p1{
  font-size: 12px;
  text-align: justify;
  padding-right: 35px;
}
.footer .row .fa{
  padding-right: 20px;
  font-size: 15px;
}
.footer-hr{
  margin-top: 10px;
  background:#efefef;
}
.fa-heart{
  color: #f44336;
}
.footer .copyright{
  text-align: center;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}
.fa:hover {
  opacity: 0.7;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-youtube {
  background: #3B5998;
  color: white;
}
.fa-instagram {
  background: #3B5998;
  color: white;
}
.fa-linkedin {
  background: #3B5998;
  color: white;
}


.media .fa{
  color: white;
}
.media .fa{
  padding-right: 20px;
  font-size: 15px;
  text-decoration: none;
}

.sakhi-mail{
  text-decoration: none;
  color: white;
}